<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-slides [options]="{ slidesPerView: 'auto', centeredSlides: true, spaceBetween: 30}">
  <ion-slide class="slide1 slide-bg">
    <h1>Slide 1</h1>
  </ion-slide>
  <ion-slide class="slide2 slide-bg">
    <h1>Slide 2</h1>
  </ion-slide>
  <ion-slide class="slide3 slide-bg">
    <h1>Slide 3</h1>
  </ion-slide>
  </ion-slides>
</ion-content>
