<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SLides
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Slides</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-slides [options]="{ slidesPerView: 'auto', centeredSlides: true, spaceBetween: 30}">
  <ion-slide class="sun first-slide slide-bg">
    <h1>Slide 1</h1>
  </ion-slide>
  <ion-slide class="rose middle-slide slide-bg">
    <h1>Slide 2</h1>
  </ion-slide>
  <ion-slide class="rose middle-slide slide-bg">
    <h1>Slide 4</h1>
  </ion-slide>
  <ion-slide class="purple last-slide slide-bg">
    <h1>Slide 6</h1>
  </ion-slide>
  </ion-slides>
</ion-content>
